* {
  margin: 0;
  font-size: 20px;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri;
}

h1 {
  font-size: 35px;
  padding-left: 25px;
  padding-bottom: 25px;
}

#result {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 50px;
  padding-left: 25px;
}

.content {
  display: grid;
  padding: 0 25px;
}

#btn {
  height: 40px;
  width: 90px;
  background-color: #027bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 0px 10px;
  margin: 15px 0px;
}

button:hover {
  background-color: #851;
}

.table {
  display: grid;
}

/* grid child of the div container table*/
table {
  text-align: left;
  padding-top: 25px;
}

.item1 {
  padding-top: 25px;
  padding-bottom: 10px;
}

.weight1 {
  padding-bottom: 25px;
}

#height-box {
  display: flex;
  width: 90%;
  padding: 5px;
}

#weight-box {
  display: block;
  width: 90%;
  padding: 5px;
}

.label1 {
  display: block;
  padding-top: 30px;
}

.note {
  padding-top: 25px;
}
.calculate-button {
  padding-top: 20px;
}
