* {
  margin: 0;
  font-size: 20px;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri;
}

h1 {
  font-size: 35px;
  padding-left: 25px;
  padding-bottom: 25px;
}

<<<<<<< HEAD
=======
#result{
  padding: 10px 0px 50px 25px;
  paddinh
}
>>>>>>> 004a7eadd50c873b196ef0abb31a6c2d8ccac91e
.content {
  display: grid;
  padding: 0 25px;
}

button {
  height: 40px;
  width: 90px;
  background-color: #0099ff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 0 10px;
}

button:hover {
  background-color: #851;
}

.table {
  display: grid;
}

/* grid child of the div container table*/
table {
  text-align: left;
  padding-top: 25px;
}

.item1 {
  padding-top: 25px;
  padding-bottom: 10px;
}

.weight1 {
  padding-bottom: 25px;
}

#height-box {
  display: flex;
  width: 70%;
  padding: 5px;
}

#weight-box {
  display: block;
  width: 70%;
  padding: 5px;
}

.label1 {
  display: block;
  padding-top: 30px;
}

.note {
  padding-top: 25px;
}
.calculate-button {
  padding-top: 20px;
}
